<% unless notice.to_s.empty? %>
  <div id="row">
    <div class="card green lighten-4">
      <div class="card-content green-text text-darken-1">
        <p><b><%= notice %></b></p>
      </div>
    </div>
  </div>
<% end %>
